/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.tree-container {
  display: flex;
  justify-content: space-evenly;
}

[id^=tree-child-] {
  height: 360px;
  width: 640px;
  min-width: 640px;
  flex-grow: 1;
  margin-left: 16px;
}

[id^=tree-child-] > div:first-child {
  width: 100% !important;
}
