/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.a5hk-tree-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

[id^=a5hk-tree-child-] {
  min-height: 160px;
  min-width: 284px;
  /* flex-grow: 1; */
  flex-shrink: 1;
  margin: 0;
}

/* [id^=tree-child-] > div:first-child {
  width: 100% !important;
} */
